<launch>
    <!--<param name="use_sim_time" value="true" />-->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <node pkg="low_level_interface" name="odom_inv_transformer" type="SVEA1_to_odom.py" output="screen">
    </node>
    <node pkg="tf" name="static_transformer_A" type="static_transform_publisher" output="screen" args="0.1 0 0 pi 0 0 laser base_link 100">
      
    </node>
    <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    </node>
</launch>
